body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
  padding: 20px;
}

video {
  width: 45%;
  background: black;
  margin: 10px;
  border-radius: 10px;
  transform: scaleX(-1);
}

#videos {
  display: flex;
  justify-content: center;
}

input, button {
  padding: 10px;
  font-size: 18px;
  margin: 10px;
}

/* CHATBOX */
#chatbox {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 260px;
  background: rgba(0,0,0,0.6);
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-family: Arial;
}

#messages {
  height: 150px;
  overflow-y: auto;
  font-size: 14px;
  margin-bottom: 10px;
}

#chatInput {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: none;
  outline: none;
}
